mat-card {
  max-width: 30%;
  margin: 2em auto;
  text-align: center;
  border: 2px solid rgb(84, 169, 238);
  border-radius: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 150px;
  margin-top: 20px;
}
.example-form {
  width: 400px;
  margin: 16px auto;
  display: block;
  text-align: center;
}
