<p-footer class="footer-container">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h3>About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis egestas laoreet. Etiam faucibus massa sed risus lacinia in vulputate dolor imperdiet.</p>
          </div>
          <div class="col-md-3">
              <h3>Contact Us</h3>
              <p><strong>Address:</strong> 123 Main St, Anytown USA</p>
              <p><strong>Phone:</strong> (123) 456-7890</p>
              <p><strong>Email:</strong> info@yourstore.com</p>
          </div>
          <div class="col-md-3">
              <h3>Support</h3>
              <p><a href="#">FAQ</a></p>
              <p><a href="#">Help Center</a></p>
              <p><a href="#">Return Policy</a></p>
          </div>
          <div class="col-md-3">
              <h3>Follow Us</h3>
              <i class="pi pi-facebook" style="margin: 0 10px;"></i>
              <i class="pi pi-twitter" style="margin: 0 10px;"></i>
              <i class="pi pi-instagram" style="margin: 0 10px;"></i>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="copyright">&copy; 2023 YourStore. All rights reserved.</p>
          </div>
      </div>
  </div>
</p-footer>
