<mat-card class="product-details-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle class="price">{{ product.unitPrice }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img [src]="product.imageUrl"/>
    <h2>Description</h2>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button (click)="addToCart(product)" color="primary">Add to cart</button>
  </mat-card-actions>
</mat-card>
