.header {
margin-bottom: 60px;
}

.spacer {
  flex: 1 1 auto;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
  text-decoration: none;
  color: #333;
}

.header-link {
margin-right: 10px;
}
