<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>

    <a class="header-logo" routerLink="/products">My Ecommerce</a>
    <span class="spacer"></span>

    <a class="header-link" routerLink="/">Home</a>
    <a class="header-link" routerLink="/about">About</a>
    <a class="header-link" routerLink="/contact">Contact</a>
    <span class="spacer"></span>

  <app-search></app-search>
  <span class="spacer"></span>

    <app-login-status></app-login-status>
    <button mat-raised-button color="primary" routerLink="/register">Sign Up</button>
    <span class="spacer"></span>

  <app-cart-status style="margin-right: 40px;"></app-cart-status>

  </mat-toolbar-row>
</mat-toolbar>

