<ng-container *ngFor="let address of adresses$ | async">
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-card>
      <div class="border-solid border-400 border-round w-3 px-3 py-3">
        <h4>CEP: {{ address.cep }}</h4>
        <p>{{ address.logradouro }} - {{ address.complemento }}</p>
        <p>{{ address.bairro }}</p>
        <p>{{ address.localidade }} - {{ address.uf }}</p>

        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="confirmDelete(address.id)"
        >
          Excluir
        </button>
      </div>
    </p-card>
  </div>
</ng-container>

<button
  pButton
  type="button"
  label="Adicionar Endereço"
  icon="pi pi-plus"
  class="mt-4"
  (click)="openAddAddressDialog()"
></button>

<p-dialog header="Adicionar Endereço" [(visible)]="showAddAddressDialog">
  <app-adress-form></app-adress-form>
</p-dialog>
