<div class="ui-dark-theme">
<mat-card>
  <mat-toolbar class="listCategory" color="primary">
    <button *ngFor="let category of productCategories">
      <mat-button
        routerLink="/categories/{{ category.id }}"
        routerLinkActive="router-link-active"
        >{{ category.categoryName }}</mat-button
      >
    </button>
    <button (click)="toggleTheme()">Toggle Dark Mode</button>

  </mat-toolbar>

<div class="featured-products" >

  <ng-template pTemplate="header" >
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <p-dropdown [options]="sortOptions" placeholder="Sort By Price" ></p-dropdown>
    </div>
  </ng-template>

    <div class="grid">

        <div class="col-3" *ngFor="let product of products" >
          <div class="product-item">
            <div class="product-item-wrapper">
                <img [routerLink]="['/products', product.id]" [src]="product.imageUrl" alt="product_image" class="image" />
                <h4 [routerLink]="['/products', product.id]" class="name">{{ product.name }}</h4>
                <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating>

                <h5 class="price">{{ product.unitPrice | currency }}</h5>
                <p-button
                  styleClass="mt-3 add-to-cart"
                  label="Add to cart"
                  icon="pi pi-shopping-cart"
                  (click)="addToCart(product)"
                  >
                </p-button>
            </div>
        </div>
          </div>

    </div>
</div>

<p-paginator
[rows]="pageSize"
[totalRecords]="products.length"
(onPageChange)="onPageChange($event)"
[pageLinkSize]="5"
></p-paginator>

</mat-card>
</div>
