<div class="p-d-flex p-flex-column">

      <p-table [value]="cartItems" responsiveLayout="scroll">

          <ng-template pTemplate="header">
              <tr>
                  <th>Image</th>
                  <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cartItem>
              <tr>
                  <td style="width: 15%; min-width: 7rem;">
                      <img src="{{ cartItem.imageUrl }}" width="150">
                  </td>
                  <td style="width: 25%; min-width: 7rem;">{{cartItem.name}}</td>
                  <td style="width: 15%; min-width: 8rem;">{{cartItem.unitPrice | currency:'USD'}}</td>
                  <td>
                    <p-inputNumber [(ngModel)]="cartItem.quantity" inputId="minmax" inputId="minmax" mode="decimal" [min]="1" [max]="100">
                    </p-inputNumber>
                </td>
                <td style="width: 10%; min-width: 8rem;">{{ totalQuantity }}</td>
                    <td>
                      <div class="flex">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(cartItem)"></button>
                        </div>
                        <td>
              </tr>
          </ng-template>

            <ng-template class="w-3" pTemplate="footer">
                <tr>
                    <td style="width: 25%; min-width: 7rem;">Subtotal:</td>
                    <td style="width: 25%; min-width: 7rem;">{{ totalPrice | currency : "USD" }}</td>
                    </tr>
                    <tr>
                    <td style="width: 25%; min-width: 7rem;">Shipping:</td>
                    <td style="width: 25%; min-width: 7rem;">Free</td>
                    </tr>
                    <tr>
                    <td style="width: 25%; min-width: 7rem;">Total Price:</td>
                    <td style="width: 25%; min-width: 7rem;">{{ getTotal() | currency : "USD" }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
              <button pButton pRipple label="Checkout"  position="bottom-left" class="w-3 p-2 text-xl" [routerLink]="['/checkout']"></button>
            </ng-template>

      </p-table>







  <!-- if card empty -->
  <div
  *ngIf="cartItems.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  Your Shopping Cart is empty.
</div>

</div>
