<mat-card>
<form class="example-form">
  <h1>Login</h1>
  <mat-form-field [formGroup]="loginFormGroup" (ngSubmit)="handleSubmit()">
    <input matInput placeholder="Email" formControlName="email" type="email">
    <mat-error *ngIf="loginFormGroup.get('email')?.invalid">{{
      getErrorMessage("email")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password"  formControlName="password" type="password">
    <mat-error *ngIf="loginFormGroup.get('password')?.invalid">{{
      getErrorMessage("password")
    }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" >Login</button>

    <section class="checkbox-login">
    <mat-checkbox style="margin: 0 10px;">Remember?</mat-checkbox>
  </section>
  <button mat-raised-button routerLink="/admin">I'm Admin</button>

</form>
</mat-card>
