<section class="flex flex-column bg-black-alpha-90">
        <nav class="bg-black-alpha-90 px-4 flex justify-content-between relative xl:static" style="min-height:70px">
            <a pRipple class="cursor-pointer block xl:hidden align-self-center text-700" pStyleClass="@next"
                enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl text-300"></i>
            </a>
            <div class="bg-black-alpha-90 flex-grow-1 justify-content-between hidden xl:flex absolute xl:static w-full left-0 top-100 z-1 shadow-2 xl:shadow-none surface-900">
                <ul class="list-none p-0 m-0 flex select-none flex-column xl:flex-row xl:gap-2">
                    <li class="xl:flex xl:align-items-end">
                        <a pRipple class="xl:border-round-top flex align-items-center h-3rem px-3 font-medium cursor-pointer transition-colors transition-duration-150"
                            [ngClass]="{'surface-50 text-900': activeTab2 === 0, 'surface-700 text-50': activeTab2 !== 0}" (click)="activeTab2 = 0">
                            <i class="pi pi-bolt mr-2" [ngClass]="{'text-800': activeTab2 === 0}"></i>
                            <span>Início</span>

                        </a>
                    </li>
                    <li class="xl:flex xl:align-items-end">
                        <a pRipple class="xl:border-round-top flex align-items-center h-3rem px-3 font-medium cursor-pointer transition-colors transition-duration-150"
                            [ngClass]="{'surface-50 text-900': activeTab2 === 1, 'surface-700 text-50': activeTab2 !== 1}" (click)="activeTab2 = 1">
                            <i class="pi pi-cog mr-2" [ngClass]="{'text-800': activeTab2 === 1}"></i>
                            <span>Produtos</span>
                        </a>
                    </li>
                    <li class="xl:flex xl:align-items-end">
                        <a pRipple class="xl:border-round-top flex align-items-center h-3rem px-3 font-medium cursor-pointer transition-colors transition-duration-150"
                        [ngClass]="{'surface-50 text-900': activeTab2 === 2, 'surface-700 text-50': activeTab2 !== 2}" (click)="activeTab2 = 2">
                            <i class="pi pi-users mr-2" [ngClass]="{'text-800': activeTab2 === 2}"></i>
                            <span class="mr-2">Categorias</span>
                        </a>
                    </li>
                    <li class="xl:flex xl:align-items-end">
                        <a pRipple class="xl:border-round-top flex align-items-center h-3rem px-3 font-medium cursor-pointer transition-colors transition-duration-150"
                        [ngClass]="{'surface-50 text-900': activeTab2 === 3, 'surface-700 text-50': activeTab2 !== 3}" (click)="activeTab2 = 3">
                            <i class="pi pi-comments mr-2" [ngClass]="{'text-800': activeTab2 === 3}"></i>
                            <span>Usuários</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="flex flex-column flex-auto bg-black-alpha-90">
            <div class="surface-section px-4 py-4 lg:py-5 lg:px-6 h-full">
                <div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">

                      <div class="flex flex-column flex-auto">
                        <div *ngIf="activeTab2 === 0" class="surface-section px-4 py-4 lg:py-5 lg:px-6 h-full">
                            <div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">
                                <div class="w-full">
                                    <h2 class="mt-0 mb-2 text-900 font-medium text-2xl">Área do Administrador</h2>
                                    <p class="mt-0 mb-0 text-500">Navegue nas abas dos serviços.</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activeTab2 === 1" class="surface-section px-4 py-4 lg:py-5 lg:px-6 h-full border-round-top-3xl">
                            <div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">
                                <div class="w-full">
                                    <h2 class="mt-0 mb-2 text-900 font-medium text-2xl">Produtos</h2>
                                    <app-edit-products></app-edit-products>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activeTab2 === 2" class="surface-section px-4 py-4 lg:py-5 lg:px-6 h-full border-round-top-3xl">
                            <div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">
                                <div class="w-full">
                                    <h2 class="mt-0 mb-2 text-900 font-medium text-2xl">Categorias</h2>
                                    <app-categories></app-categories>
                              </div>
                            </div>
                        </div>
                        <div *ngIf="activeTab2 === 3" class="surface-section px-4 py-4 lg:py-5 lg:px-6 h-full border-round-top-3xl">
                            <div class="flex flex-column md:flex-row w-full justify-content-between md:align-items-center">
                                <div class="w-full">
                                    <h2 class="mt-0 mb-2 text-900 font-medium text-2xl">Usuários</h2>
                                    <app-user></app-user>
                                </div>
                            </div>
                        </div>

                      </div>
                </div>
             </div>
        </div>
 </section>
